header{
  background-color: #77bfad;
  padding: 20px 0;
}
.caixa{
  width: 940px;
  position: relative;
  margin: 0 auto;
}

#logo{
  width: 200px;
  margin: 20px 0 0 20px;
}

.menu_esquerdo{
  width: 250px;
  background: #e4f6ef;
  height: 100%;
  display: inline-block;
}

.menu_esquerdo li{
  font-size: 30px;
  text-align: center;
  position: relative;
}

.list_item{
  padding-top: 15px;
}

#home{
  padding-top: 50px;
}

.welcome{
  text-align: center;
  font-size: 40px;
  display: inline-block;
  position: absolute;
  top: 200px;
  left: 300px;
}

p{
  padding: 15px;
}

p em{
  color: #11bb77;
}

#foto_main{
  width: 60%;
}
